.header__logo, .header__title {
        float: left;
}
/* logo_vivi_mini */
.header__logo {
        height: 68px;
        width: 80px;
        margin: 10px 10px;
}
                 /* titre */
.header__title {
        top: 0;
        margin: 20px 10px; 
        font-size: 18px;
}