.index__main, .news__section, .menu__main, .nous-trouver__localisation, .nous-contacter__main, .formule, .crepe__main, .galette__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* padding main des pages : accueil, section_news, carte */
.index__main, .news__section, .menu__main, .galette__main, .crepe__main, .nous-trouver__localisation {
    margin-top: 130px;
    padding-bottom: 3px;
}
.nous-contacter__main {
    margin-top: 150px;
    padding-bottom: 3px;
}