// Couleur du header et de la marge du bas
$primary: rgba(242, 216, 145, 255);
// ecriture en noir par default des bouttons de navigation non-actifs 
$header__nav__button_color: black;
// survol bouton du menu navigation non-actifs en marron
$secondary: rgba(196, 150, 21, 255);