/* footer */
        /* alignement footer sur main au bas de la page  */
footer {
    padding-top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
        /* alignement adresse et reseau sociaux */
.footer__link {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $primary;
}

.footer__link__facebook, .footer__link__instagram {
        padding: 16px 5px;
}
/* filigram */
.footer__filigram {
        position: relative;
        color: white;
        background: black;
        font-size: 12px;
        text-align: center;
        width: 100%;
        p {
            height: 20px;
            padding: 4px;
            margin: 0;
            }
}
        /* signature */
.footer__filigram__signature {
        color: ivory;
}
.footer__filigram__signature:hover {
        color: green;
}