/* style header */
.header {
    position: fixed;
    background-color: $primary;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}
    /* menu header */
.header a {
    margin: 15px;
    padding: 5px 10px;
}
.header__nav {
    float: left;
    margin-top: 30px;
}