/* responsive background */
    /* background index */
    // mobile
@media only screen and (max-width: #{$mobile}) {
    .index {
            background-image: url("pictures/campagne800px.jpg");
    }
    .news {
        background-image: url("pictures/background_wheat_field800px.jpg");
    }
    .menu, .formule, .crepe__main, .galette__main, .nous-contacter, .nous-trouver {
        background-image: url("pictures/restaurant800px.jpg");
    }
}
        // desktop-small
@media only screen and (min-width: #{$mobile}) and (max-width: #{$desktop}) {
    .index {
            background-image: url("pictures/campagne1024px.jpg");
    }
    .news {
        background-image: url("pictures/background_wheat_field1024px.jpg");
    }
    .menu, .formule, .crepe__main, .galette__main, .nous-contacter, .nous-trouver {
        background-image: url("pictures/restaurant1024px.jpg");
    }
}
        // desktop-big
@media only screen and (min-width: #{$desktop}) and (max-width: #{$large}) {
    .index {
            background-image: url("pictures/campagne1600px.jpg");
    }
    .news {
        background-image: url("pictures/background_wheat_field1600px.jpg");
    }
    .menu, .formule, .crepe__main, .galette__main, .nous-contacter, .nous-trouver {
        background-image: url("pictures/restaurant1600px.jpg");
    }
}
        // TV
@media only screen and (min-width: #{$large}) {
    .index {
            background-image: url("pictures/campagne3200px.jpg");
    }
    .news {
        background-image: url("pictures/background_wheat_field3200px.jpg");
    }
    .menu, .formule, .crepe__main, .galette__main, .nous-contacter, .nous-trouver {
        background-image: url("pictures/restaurant1900px.jpg");
    }
}